
.box {
    margin:  500px auto;
    border: 1px solid #000;
    width: 200px; 
    height: 100px; 
    background-color: #ff00ff; 
    transition-duration: 3s;
    /* transition: width 3s, height 3s, 
                background-color 3s, 
                transform 3s;  */
}

.box:active { 
    background-color: #000; 
    border: 2px solid #ff00ff;
    width: 100px; 
    height: 200px;
    transform: scale(2,3);
}
