
body {
    margin: 0%;
    padding: 0%;
}

div.container {
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    /* height: 100%; */
    background-image: url("../img.png");
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    padding-top: 100px;
}
    
div.content{
    margin: auto;
    /* padding: 550px 50px; */
    width: 500px;
    height: 500px;
    /* border: 1px solid black; */
    background-image: url(../image.jpeg);
    background-position: center;
    /* background-repeat: no-repeat; */
}